volumes:
  pg_data_production:
  static_volume:
  media_volume:

services:
  db:
    container_name: foodgram-db
    image: postgres:13.10
    env_file: .env
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - pg_data_production:/var/lib/postgresql/data

  backend:
    container_name: foodgram-backend
    image: 0legrogovenko/foodgram_backend:latest
    env_file: .env
    restart: always
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - static_volume:/app/collected_static
      - media_volume:/app/media
      - ./data:/app/data

  frontend:
    container_name: foodgram-frontend
    image: 0legrogovenko/foodgram_frontend:latest
    restart: always
    expose:
      - 80

  gateway:
    container_name: foodgram-gateway
    image: 0legrogovenko/foodgram_gateway:latest
    restart: always
    env_file:
      - .env
    depends_on:
      - backend
      - frontend
    ports:
      - 9090:80
    volumes:
      - static_volume:/static
      - media_volume:/media
